.parent {
	width: 100%;
	padding: 55px 90px;

	.searchContainer {
		display: flex;
		width: 100%;
		justify-content: flex-start;
		column-gap: 15px;
		margin-top: 50px;

		& *:nth-child(1){
			max-width: 350px;
		}
	}

	.list {
		width: 100%;
		margin-top: 15px;
		table{
			width: 100%;
			tr{
				th{
					padding: 10px 0px;

					text-align: left;
					color: #a6a6a6;
				}
				td{
					padding: 10px 0px;

					& *:nth-child(n){
						border: none
					}
				}
			}
		}
		.statusSpan{
			background-color: #d3ffd3;
			color: #88b688;
			font-weight: bold;
			padding: 5px 15px;
			border-radius: 15px;
		}
	}
}
.cardContainer{
	flex: 1 1 auto;
}
.cardParent {
	display: flex;
	column-gap: 25px;
	height: fit-content;
	position: relative;

	.logo{
		flex: 0 0 150px;
		width: 150px;
		height: 150px;
		object-fit: contain;
	}
	.liftInfo {
		flex: 1 1 auto;
		display: grid;
		& > div{
			line-height: 1.5;
		}
		.buttonContainer{
			align-self: flex-end;
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			width: 100%;
			& > *{
				width: fit-content !important;
			}
		}
	}
}

@media (max-width: 1400px) {
	.parent{
		padding: 30px;
		max-width: 80vw;
		.list{
			overflow: auto;
			& > *{
				min-width: 900px;
			}
		}
	}
}